/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1, h2, h3 {
    color: #e64a19;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Header */
  .header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .header h1 {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
  }
  
  .header p {
    margin: 0;
    font-size: 18px;
    color: #888;
  }
  
  /* Forms */
  /* Form styles */
.form-container {
  width: 40%;
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin: 10px 10px 10px 0px;
  
}

.form-group input[type="text"],
.form-group input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input[type="checkbox"] {
  margin-top: 5px;
}

.form-group input[type="submit"] {
  background-color: #e64a19;
  margin-top: 20px;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

  
  /* Lists */
  ul.menu-list,
  ul.order-list {
    width: 40%;
    margin: auto;
    margin-top: 10px;
    align-items: center;

    list-style: none;
    padding: 0;


  }
  
  ul.menu-list li,
  ul.order-list li {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;

  }
  
  /* Footer */
  .footer {
    background-color: #e64a19;
    padding: 10px;
    color: #fff;
    text-align: center;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
  }
  